# dependencies
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
build/
.turbo/
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# tests
coverage/
playwright-report/
test-results/

# misc
*.tgz
.vercel
.eslintcache
